body {
  height: 100vh;
  margin: auto;
  padding: 40px;
  font-family: sans-serif;
  background-image: url('./images/Boxes.svg');
  /* background-size: cover;
  background-position: center; */
}

#Rectangle {
  fill: white;
  stroke: black;
  stroke-dasharray: 1200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 60s linear forwards;
  animation: dash 60s linear forwards;
}

@-webkit-keyframes dash {
  from {
    stroke-dashoffset: 1200;
  }
  to {
    stroke-dashoffset: 0;
  }
}

.App {
  text-align: center;
  background-color: #222;
  padding: 20px;
  margin: 50px 325px;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.header {
  background-color: #222;
  height: 175px;
  color: white;
}

.App-title {
  font-size: 75pt;
}

.button_component {
  margin: 0px, 20px;
}

.title_component {
  margin: 30px 0px;
}

h1 {
  font-size: 75pt !important;
}

h3 {
  font-size: 50pt !important;
}

button {
  font-size: 1.5rem !important;
}

th {
  font-size: 1.25rem;
}

tr {
  font-size: 1.25rem;
}

.table_container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-y: scroll;
}

#search_history {
  position: absolute;
  left: -0.75vw;
}

#search_history tr {
  font-size: 1.05rem;
}
